body {
  background-color: black;
}



div.Header {
  text-align: center;
  color: #9370DB;
}
div.UTlink {
  text-align: center;
  color: #afa3f5;
}
a {
  text-align: center;
  text-decoration: none;
  color: #afa3f5;
}



div.dHead {
  text-align: center;
  color: #deaeea;
}
div.dLink {
  color: #ffffff;
}



div.tHead {
  text-align: center;
  color: #deaeea;
}
div.tLink {
  color: #ffffff;
}



#dsearchbar, #tsearchbar {
  width: 100%;
  font-size: 16px;
  padding: 12px 0px 12px 5px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#dlinks, #tlinks {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#dlinks th, #dlinks td, #tlinks th, #tlinks td {
  text-align: left;
  padding: 12px;
}

#dlinks tr, #tlinks tr {
  border-bottom: 1px solid #ddd;
}

#dlinks tr.header, tlinks tr.header {
  background-color: #999;
}

#dlinks td:hover, #tlinks td:hover {
  background-color: #222;
}
