body {
  background-color: black;
}
div.Header {
  color: #9400D3;
}
div.UTlink {
  color: #ffffff;
}
div.dHead {
  color: #ffffff;
}
div.dLink {
  color: #ffffff;
}
div.tHead {
  color: #ffffff;
}
div.tLink {
  color: #ffffff;
}
