html {
    scroll-behavior: smooth;
}

body {
    --base: #292929;
    --primary: #7F39FB;
    --primary-variant: #03DAC6;
    --secondary: #CF6679;
}

body {
    margin: 0;
    font-family: "eurostile", sans-serif;
    background-color: var(--base);
}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background-color: #222;}
::-webkit-scrollbar-thumb {background-color: #555;}
::-webkit-scrollbar-thumb:hover {background-color: #444;}



/* ----------------------------------- Templates ----------------------------------- */
.bg-base {background-color: var(--base);}
.bg-primary {background-color: var(--primary);}
.bg-primary-variant {background-color: var(--primary-variant);}
.bg-secondary {background-color: var(--secondary);}

.text-primary {color: var(--primary);}
.text-primary-variant {color: var(--primary-variant);}
.text-secondary {color: var(--secondary);}

.text-light {color: #fff;}
.text-light-weak {color: #ccc;}
.text-dark-weak {color: #333;}
.text-dark {color: #000;}

.text-size-1 {font-size: clamp(1.92rem, 3.6vw, 3.00rem);}
.text-size-2 {font-size: clamp(0.96rem, 1.8vw, 1.50rem);}
.text-size-3 {font-size: clamp(0.80rem, 1.5vw, 1.25rem);}
@media (max-aspect-ratio: 5/4) {    /* mobile */
    .text-size-1 {font-size: clamp(1.92rem, 7.2vw, 3.00rem) !important;}
    .text-size-2 {font-size: clamp(0.96rem, 3.6vw, 1.50rem) !important;}
    .text-size-3 {font-size: clamp(0.80rem, 3.0vw, 1.25rem) !important;}
}

.text-weight-1 {font-weight: 1000;}
.text-weight-2 {font-weight: 800;}
.text-weight-3 {font-weight: 600;}

@keyframes fade {
    from {opacity: 0;}
}
.fadein {
    animation: fade linear both !important;
    animation-timeline: view() !important;
    animation-range: 0vh 10vh !important;
}



/* ----------------------------------- Section Specific ----------------------------------- */
/* Navibar */
nav.navbar {
    width: 100%;
    height: 2.5rem;
    padding: 2.25rem 0 1rem 0;
    margin-right: -5%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    gap: 2rem;
    inset: 0;
    z-index: 5;
}
nav.navbar a {
    padding: 0.5rem 2rem;

    color: #fff;
    text-decoration: none;

    border-radius: 0.5rem;
}
nav.navbar a:hover {
    background-color: var(--primary);
    transition: background 0.5s;
}
nav.navbar a:last-child {
    margin-right: 5rem;
}


/* Top */
section.top {
    padding: 5rem 0 11rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}
@media (max-aspect-ratio: 5/4) {    /* mobile */
    section.top {
        padding: 2rem 0 8rem 0 !important;
    }
}
section.top p {
    margin: 0.5rem;
}

/* Top: Image */
section.top .prof-img {
    width: 15rem;
    height: 15rem;
    margin-top: 5rem;

    object-fit: cover;

    box-shadow: 0 0.2rem 1rem 0.2rem var(--primary);
    border-radius: 50%;
}


/* Description */
section.desc {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* Description: Box */
section.desc .desc-box {
    width: 45rem;
    padding: 6rem 0 12rem 0;

    text-align: center;
}
@media (max-aspect-ratio: 5/4) {    /* mobile */
    section.desc .desc-box {
        width: 90% !important;
    }
}
section.desc .desc-box p {
    margin: 2rem;
}


/* Overview */
section.overview {
    margin: -8rem 0 6rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* Overview: Box */
section.overview .overview-box {
    width: 80%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: stretch;

    box-shadow: 0 0.2rem 1rem 0.2rem rgba(0,0,0,0.2);
    border-radius: 2rem;
}
@media (max-aspect-ratio: 5/4) {    /* mobile */
    section.overview .overview-box {
        width: 85% !important;

        grid-template-rows: repeat(3, 1fr) !important;
        grid-template-columns: none !important;
    }
}

/*Overview: Sections */
section.overview .overview-box .overview-section {
    padding: 2rem 1rem;

    text-align: center;

    border-right: 1px solid #444;
}
@media (max-aspect-ratio: 5/4) {    /* mobile */
    section.overview .overview-box .overview-section {
        border-right: none !important;
        border-bottom: 1px solid #444;
    }
}
section.overview .overview-box .overview-section:last-of-type {
    border: none !important;
}
section.overview .overview-box .overview-section .icon {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: 1rem;
    padding: 1rem;
    
    text-align: center;
    color: #000;

    background-color: var(--primary-variant);
    border-radius: 50%;
}
section.overview .overview-box .overview-section .text-light {
    margin: 2rem 0;
}
section.overview .overview-box .overview-section .text-primary {
    margin: 2rem 0 1rem 0;
}
section.overview .overview-box .overview-section .text-light-weak {
    margin: 0.5rem 0;
}


/* Projects */
section.projects {
    margin-bottom: 5rem;

    text-align: center;
}
section.projects .text-light,
section.projects .text-light-weak {
    margin: 0.5rem 0;
}

/* Projects: Cards */
section.projects .cards {
    padding: 3rem 0 5rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

/* Projects: Card */
section.projects .cards .card {
    width: 70vw;
    aspect-ratio: 40/9;

    display: grid;
    grid-template-columns: 40% 60%;
    place-items: start start;
    align-items: center;
    overflow: hidden;

    text-decoration: none;

    box-shadow: 0 0.2rem 1rem 0.2rem rgba(0,0,0,0.2);
}
@keyframes scale {
    0%, 100% {scale: 1;}
    30%, 70% {scale: 1.1;}
}
section.projects .cards .card {
    animation: scale linear both;
    animation-timeline: view();
    animation-range: 30vh 100vh;
}
section.projects .cards .card img.card-img {
    width: 100%;

    object-fit: cover;
    overflow: hidden;
}
section.projects .cards .card div.card-text {
    margin: 0.5rem 1rem;

    overflow: hidden;

    text-align: left;
}
section.projects .cards .card div.card-text p {
    margin: 0 0 0.5rem 0;
}

/* Projects: Card, Mobile/Small Screen */
@media (max-aspect-ratio: 5/4) {    /* mobile */
    section.projects .cards .card {
        width: min(80vw, 32rem) !important;
        aspect-ratio: 16/9 !important;

        display: flex !important;
    }
    section.projects .cards .card:hover img.card-img {
        transition: all 0.2s linear;
        scale: 1.1;
        opacity: 0.25;
    }
    section.projects .cards .card:hover div.card-text {
        transition: opacity 0.4s linear;
        opacity: 1;
    }
    section.projects .cards .card div.card-text {
        position: absolute;
        inset: 0;
        z-index: 1;
        opacity: 0;
    }
    @media (hover: none) {
        section.projects .cards .card img.card-img {
            opacity: 0.25 !important;
        }
        section.projects .cards .card div.card-text {
            opacity: 1 !important;
        }
    }

}


/* Footer */
section.footer {
    padding: 10rem 0 5rem 0;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}
section.footer .contacts {
    margin: 1rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
section.footer .contacts a {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
}