html {
    scroll-behavior: smooth;
}
body {
    /* Default to dark */
    --base: #1D232A;
    --base-alt: #191E24;

    --primary: #7480FF;
    --secondary: #03DAC6;

    --elem-strong: #fff;
    --elem: #A6ADBB;
    --elem-weak: #4B5563;
}
body[data-theme='light'] {
    --base: #fff !important;
    --base-alt: #E8E8E8 !important;

    --elem-strong: #000 !important;
    --elem: #1F2937 !important;
    --elem-weak: #4B5563 !important;
}
body {
    margin: 0;
    background-color: var(--base);
    font-family: "eurostile", sans-serif;
}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background-color: var(--base-alt);}
::-webkit-scrollbar-thumb {background-color: #555;}
::-webkit-scrollbar-thumb:hover {background-color: #444;}



/* ----------------------------------- Templates ----------------------------------- */
.bg-base {background-color: var(--base);}
.bg-alt {background-color: var(--base-alt);}
.bg-primary {background-color: var(--primary);}
.bg-secondary {background-color: var(--secondary);}

.text-primary {color: var(--primary);}
.text-secondary {color: var(--secondary);}

.text-strong {color: var(--elem-strong);}
.text-base {color: var(--elem);}
.text-weak {color: var(--elem-weak);}

.text-white {color: #fff;}
.text-black {color: #000;}

.text-size-1 {font-size: 3.0rem;}
.text-size-2 {font-size: 1.5rem;}
.text-size-3 {font-size: 1.25rem;}
@media (max-aspect-ratio: 5/4) {
    /* Mobile */
    .text-size-1 {font-size: 2rem !important;}
    .text-size-2 {font-size: 1.25rem !important;}
    .text-size-3 {font-size: 1rem !important;}
}

.text-weight-1 {font-weight: 1000;}
.text-weight-2 {font-weight: 800;}
.text-weight-3 {font-weight: 600;}

@keyframes fade {
    from {opacity: 0;}
}
.fadein {
    animation: fade linear both !important;
    animation-timeline: view() !important;
    animation-range: 0vh 10vh !important;
}



/* ----------------------------------- Section Specific ----------------------------------- */
/* Navibar */
nav.navbar {
    display: flex;
    position: fixed;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    z-index: 5;
    inset: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2.25rem 0 1rem 0;
    width: 100vw;
    height: 2.5rem;
}
nav.navbar a.toggle {
    margin: 0 auto 0 8rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    width: calc(1rem + 1em);  /* perfectly square padding */
    text-align: center;
}
@keyframes toggle {
    from {
        transform: rotate(90deg);
        opacity: 0;
    }
}
nav.navbar a.toggle svg.fa-moon,
nav.navbar a.toggle svg.fa-sun {
    animation: toggle 0.1s ease-in 1;
}
nav.navbar input.burger,
nav.navbar label.burger {
    display: none;
}
nav.navbar .navs {
    margin-right: 8rem;
    user-select: none;
}
nav.navbar label.burger,
nav.navbar .navs a {
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}
nav.navbar label.burger:hover,
nav.navbar .navs a:hover,
nav.navbar a.toggle:hover {
    transition: background 0.5s;
    background-color: var(--primary);
}
@media (max-aspect-ratio: 5/4) {
    /* Mobile */
    nav.navbar {
        flex-flow: row nowrap !important;
        justify-content: flex-start !important;
        align-items: flex-end !important;
        gap: 1.25rem !important;
    }
    nav.navbar a.toggle {
        display: inline !important;
        margin-left: 4rem;
    }
    nav.navbar label.burger {
        display: inline !important;
        margin-right: 2rem;
    }
    nav.navbar .navs {
        display: none;
        position: fixed;
        margin-right: 0rem !important;
        inset: 5rem 0.6rem auto auto;
        width: 8rem;
        overflow: hidden;
    }
    nav.navbar .navs a {
        width: 100%;
        text-align: center;
    }
    nav.navbar input.burger:checked ~ .navs {
        display: flex !important;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid var(--elem-strong);
        border-radius: 1rem;
        background-color: var(--base);
    }
}


/* Top */
section.top {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 7rem 0 11rem 0;
    text-align: center;
}
@media (max-aspect-ratio: 5/4) {
    /* Mobile */
    section.top {
        padding: 7rem 0 8rem 0 !important;
    }
}
section.top p {
    margin: 0.5rem;
}

/* Top: Image */
section.top .prof-img {
    animation: wiggle 12s ease-in-out infinite;
    margin-top: 5rem;
    box-shadow: 0 0.2rem 1rem 0.2rem var(--primary);
    border: 2px solid #fff;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}
@keyframes wiggle {
    0%, 100% {border-radius: 70% 60% 50% 40% / 50% 70% 30% 70%;}
    33%      {border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;}
    66%      {border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;}
}


/* Description */
section.desc {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* Description: Box */
section.desc .desc-box {
    padding: 5rem 0 12rem 0;
    width: 45rem;
    text-align: center;
}
@media (max-aspect-ratio: 5/4) {
    /* Mobile */
    section.desc .desc-box {
        padding: 2rem 0 9rem 0;
        width: 25rem !important;
    }
}
section.desc .desc-box p {
    margin: 2rem;
}


/* Overview */
section.overview {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: -8rem 0 6rem 0;
}

/* Overview: Box */
section.overview .overview-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: stretch;
    box-shadow: 0 0.2rem 1rem 0.2rem rgba(0,0,0,0.2);
    border-radius: 2rem;
    width: 75rem;
}
@media (max-aspect-ratio: 5/4) {
    /* Mobile */
    section.overview .overview-box {
        grid-template-rows: repeat(3, 1fr) !important;
        grid-template-columns: none !important;
        width: 22rem !important;
    }
}

/*Overview: Sections */
section.overview .overview-box .overview-section {
    border-right: 1px solid var(--elem-weak);
    padding: 2rem 1rem 3rem 1rem;
    text-align: center;
}
@media (max-aspect-ratio: 5/4) {
    /* Mobile */
    section.overview .overview-box .overview-section {
        border-right: none !important;
        border-bottom: 1px solid var(--elem-weak);
    }
}
section.overview .overview-box .overview-section:last-of-type {
    border: none !important;
}
section.overview .overview-box .overview-section .icon {
    margin-top: 1rem;
    border-radius: 50%;
    background-color: var(--secondary);
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}
section.overview .overview-box .overview-section .text-strong {
    margin: 2rem 0;
}
section.overview .overview-box .overview-section *:not(.text-strong) {
    margin: 0rem 0;
}


/* Projects */
section.projects {
    margin-bottom: 5rem;
    text-align: center;
}
section.projects p {
    margin: 0.5rem 0;
}

/* Projects: Cards */
section.projects .cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 3rem 0 5rem 0;
}

/* Projects: Card */
section.projects .cards .card {
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 0.5rem;
    background-color: var(--base-alt);
    width: 70rem;
    height: 15.75rem;
    overflow: hidden;
    text-decoration: none;
}
section.projects .cards a.card:hover {
    filter: brightness(90%);  /* only show hover effects if the card has a link */
}
@keyframes scale {
    0%, 100% {scale: 1;}
    30%, 70% {scale: 1.05;}
}
section.projects .cards .card {
    animation: scale linear both;
    animation-timeline: view();
    animation-range: 30vh 100vh;
}
section.projects .cards .card img.card-img {
    place-self: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
section.projects .cards .card div.card-text {
    place-self: start start;
    margin: 1.5rem;
    overflow: hidden;
    text-align: left;
}
section.projects .cards .card div.card-text p {
    margin: 0 0 0.5rem 0;
}

/* Projects: Card, Mobile/Small Screen */
@media (max-aspect-ratio: 5/4) {
    /* Mobile */
    section.projects .cards .card {
        display: flex !important;
        flex-flow: column nowrap;
        width: 20rem !important;
        height: auto !important;
    }
    section.projects .cards .card img.card-img {
        width: 20rem !important;
        height: 11.25rem !important;
    }
}


/* Footer */
section.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10rem 0 5rem 0;
}
section.footer .contacts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 1rem 0;
}
section.footer .contacts a {
    font-size: 2.5rem;
    text-decoration: none;
}
section.footer .contacts a:hover {
    scale: 1.1;
    transition: scale 0.1s ease-out;
}