body {
    margin: 0;

    --base: #292929;
    --primary: #7F39FB;
    --primary-variant: #03DAC6;
    --secondary: #CF6679;
}

body {
    background-color: var(--base);
    font-family: "eurostile", sans-serif;
}

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #222;}
::-webkit-scrollbar-thumb {background: #555;}
::-webkit-scrollbar-thumb:hover {background: #444;}



/* ----------------------------------- Templates ----------------------------------- */
.bg-base {background-color: var(--base);}
.bg-primary {background-color: var(--primary);}
.bg-primary-variant {background-color: var(--primary-variant);}
.bg-secondary {background-color: var(--secondary);}

.text-primary {color: var(--primary);}
.text-primary-variant {color: var(--primary-variant);}
.text-secondary {color: var(--secondary);}

.text-light {color: #fff;}
.text-light-weak {color: #ccc;}
.text-dark-weak {color: #333;}
.text-dark {color: #000;}

.text-size-1 {font-size: 3rem;}
.text-size-2 {font-size: 1.5rem;}
.text-size-3 {font-size: 1.25rem;}

.text-weight-1 {font-weight: 1000;}
.text-weight-2 {font-weight: 800;}
.text-weight-3 {font-weight: 600;}

@keyframes fade {
    from {opacity: 0;}
}
.fadein {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: 0vh 10vh;
}



/* ----------------------------------- Section Specific ----------------------------------- */
/* Navibar */
nav.navbar {
    height: 2.5rem;
    padding: 2.25rem 5%;

    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    font-size: 2.5rem;
    color: var(--primary-variant);
    text-decoration: none;
}
nav.navbar a {
    color: inherit;
}


/* Top */
section.top {
    padding: 8rem 0 14rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}
@media (max-aspect-ratio: 5/4) {    /* mobile */
    section.top {
        padding: 2rem 0 8rem 0 !important;
    }
}
section.top p {
    margin: 0.5rem;
}


/* Description */
section.desc {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* Description: Box */
section.desc .desc-box {
    width: 45rem;
    padding: 6rem 0 10rem 0;

    text-align: center;
}
@media (max-aspect-ratio: 5/4) {    /* mobile */
    section.desc .desc-box {
        width: 90% !important;
    }
}
section.desc .desc-box p {
    margin: 2rem;
}


/* Overview */
section.overview {
    margin: -8rem 0 6rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* Overview: Box */
section.overview .overview-box {
    padding-bottom: 3rem; 
    width: 70%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

    box-shadow: 0 0.2rem 1rem 0.2rem rgba(0,0,0,0.2);
    border-radius: 2rem;
}
@media (max-aspect-ratio: 5/4) {    /* mobile */
    section.overview .overview-box {
        width: 85% !important;
        height: 125rem !important;

        flex-flow: column nowrap !important;
        align-items: center !important;
    }
}

/*Overview: Sections */
section.overview .overview-box .overview-section {
    width: 80%;         /* mobile */
    height: 100%;
    margin: 0 0.8rem;   /* desktop */

    flex: 1;

    text-align: center;

    border-right: 1px solid #444;
}
@media (max-aspect-ratio: 5/4) {    /* mobile */
    section.overview .overview-box .overview-section {
        border-right: none !important;
        border-bottom: 1px solid #444;
    }
}
section.overview .overview-box .overview-section:last-of-type {
    border: none !important;
}
section.overview .overview-box .overview-section .icon {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: 3rem;
    padding: 1rem;
    
    text-align: center;
    color: #000;

    background-color: var(--primary-variant);
    border-radius: 50%;
}
section.overview .overview-box .overview-section .text-light {
    margin: 2rem 0;
}
section.overview .overview-box .overview-section .text-primary {
    margin: 2rem 0 1rem 0;
}
section.overview .overview-box .overview-section .text-light-weak {
    margin: 0.5rem 0;
}


/* Projects */
section.projects {
    margin-bottom: 5rem;

    text-align: center;
}

/* Projects: Cards */
section.projects .cards {
    padding: 3rem 0 5rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

/* Projects: Card */
section.projects .cards .card {
    width: 60%;
    height: 18rem;

    display: grid;
    grid-template-columns: 40% 60%;
    place-items: start start;
    overflow: hidden;

    box-shadow: 0 0.2rem 1rem 0.2rem rgba(0,0,0,0.2);
}
@keyframes scale {
    0%, 100% {scale: 1;}
    30%, 70% {scale: 1.05;}

}
section.projects .cards .card {
    animation: scale linear both;
    animation-timeline: view();
    animation-range: 30vh 70vh;
}
section.projects .cards .card img.card-img {
    width: 100%;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
section.projects .cards .card div.card-text {
    margin: 1rem;

    overflow: hidden;

    text-align: left;
}
section.projects .cards .card div.card-text p {
    margin: 1rem 0 0 0;
}
/* TODO: different display of cards on mobile */


/* Footer */
section.footer {
    height: 30rem;
}