body {
  background-color: #121254;  /*dark navy*/
}







div.Content {
  margin: auto;
  background: #ffffff;
  width: 85%;
}

div.Header {
  text-align: center;
  color: #000000;
  /*font-family: ;*/
}
