body {
  background-color: #09092a;  /*dark navy*/
}






ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    border-right:1px solid #bbb;
}
li:last-child {
    border-right: none;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #272B36;
}











div.Content {
  margin: auto;
  padding: 8px;
  border: 2px solid #CDCFD2;
  background: #272B36;
  width: 90%;
}

div.Header {
  text-align: center;
  color: #CDCFD2;
  /*font-family: ;*/
}
