body {
  background-color: #09092a;  /*dark navy*/
}







div.Content {
  margin: auto;
  padding: 8px;
  border: 2px solid #CDCFD2;
  background: #272B36;
  width: 90%;
}

div.Header {
  text-align: center;
  color: #CDCFD2;
  /*font-family: ;*/
}
